@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Roboto: 100, 200, 300, 400, 500, 600, 700');
/*-------------------------------------- body styling */

body {
    background-color: #E2DEE9;
    font-family: "Roboto", sans-serif;
    color: #011627;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Luckiest Guy", sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    color: #011627;
    text-align: center;
}

/*---theme colors third-------
GREY:#E2DEE9
RED: #BA2E33
DARK NAVY: #011627
GREEN: #84B59F
---*/

/*-------------------------------------- Navbar styling */

.navbar {
    display: block;
    background-color: #84B59F;
    color: #ffffff;
    font-size: 18px;
    position: fixed;
    height: 50px;
    width: 100%;
    font-family: "Luckiest Guy", sans-serif;
    letter-spacing: 2px;
    z-index: 2;
    padding-left: 15px;
    border-style: none;
    border-radius: 0px;
}

.navbar-header {
    line-height: 50px;
    padding-left:15px;
}

.nav.navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: auto;
    float: none;
    width: 90%;
}

.navbar-nav>li {
    display: table-cell;
    float: none;
    text-align: center;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
    font-weight: 700;
}

.btn.navbar-btn.navbar-right {
    vertical-align: middle;
    margin-right: 20px;
}

.container.nav-container {
    padding-right: 15px;
    padding-left: 0px;
    margin-right: 0;
    margin-left: 0;
}

button, button:focus {
    border: none;
    background-color: #84B59F;
    width: 50px;
    height: 50px;
    color: #fff;
    cursor: pointer;
    outline:0px;
}

.glyphicon-menu-hamburger{
    font-size: 25px;
    padding-top: 10px;
}

.dropdownMenu {
    list-style: none;
    background-color: #84B59F;
    width: 150px;
    padding-left: 0;
    text-indent: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transform: translateY(-100%);
    transition: transform 1s ease-in-out;
}

.dropdownLink, .dropdownLink:hover {
    font-family: "luckiest Guy", sans-serif;
    color: #fff;
    height: 50px;
    width: 120px;
    font-size: 18px;
    text-decoration:none;
}

.dropdownItem:hover, .dropdown:hover button {
    background-color: #78A591;
}

.dropdown {
    width: 50px;
    position: relative;
}

.dropdown:hover .dropdownMenu {
    transform: translateY(50px);
}

.sign-up-link-nav {
    float: right;
    font-family: "Luckiest Guy", sans-serif;
    font-size: 20px;
    line-height: 50px;
    color: #fff;
    text-decoration: none;
}

.sign-up-link-nav:hover {
    font-weight: bold;
    text-decoration: underline;
}

.col-xs-6.burger-menu {
    padding-left: 0;
}

/*-------------------------------------- HOMEPAGE styling */

.index-image {
    padding-top: 50px;
    margin-bottom: 20px;
    width:100%;
}

#latest {
    font-weight: 700;
    font-size: 75px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top:0;
}

.container-fluid {
    padding: 0;
    margin: auto;
}

.col-xs-12.tourdates {
    padding: 0;
}

.tourdates-index {
    font-size: 20px;
    padding-top: 15px;
}

.tourdates-index a {
    padding-bottom: 100px;
    font-family: "Luckiest Guy", sans-serif;
    font-size: 20px;
    color: #BA2E33;
}

.ticket-link:hover {
    text-decoration: underline;
    color: #BA2E33;
}

.video-title {
    padding-top: 50px;
}

.index-video {
    display: inline-block;
    width: 100%;
}

.video-tagline {
    padding-top: 10px;
}

.container-fluid.newsletter {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 700;
    margin-bottom: 0;
}

.book-the-band {
    width: 100%;
    font-size: 70px;
    transform: translateY(210px);
}

#book-the-band-img {
    background-image: url("Assets/Images/googleImages/empty-stage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-bottom: 50px;
}

.book-the-band a {
    color: #fff;
}

.book-the-band a:hover {
    text-decoration: none;
    font-weight: 700;
}

/*------------------------------------------------ Modals ------- */

.btn-default {
    color: #fff;
    font-family: "Luckiest Guy", sans-serif;
    font-size: 15px;
    background-color: #ba2e33;
    border-color: #ba2e33;
    width: 100px;
}

.btn-default:hover,
.btn-default:active,
.btn-default:active:hover,
.btn-default:focus {
    color: #fff;
    background-color: #99262A;
    border-color: #99262A;
}

.btn:focus {
    outline: 0px;
    outline-offset: 0px;
}

.modal-title {
    margin: 0;
    font-size: 30px;
}

.modal-link {
    font-size: 20px;
    color: #BA2E33;
    text-decoration: none;
}

.modal-link:hover {
    color: #BA2E33;
    text-decoration: underline;
    font-weight: 700;
}

.row {
    margin: 0;
}

/*---------------------------------------------------- about section CAROUSEL */

.carousel-inner img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin: 50px auto;
}

.carousel-inner .item {
    transition: transform 2s ease-in-out;
    -webkit-transition: -webkit-transform 2s ease-in-out;
    -o-transition: transform 2s ease-in-out;
}

.carousel-control.left, .carousel-control.right, .carousel-indicators{
    background-image: none;
    color: #BA2E33;
    z-index:1;
}

/*---------------------------------------------------- about section */
.about-text {
    font-size: 20px;
    width: 90%;
    display: inline-block;
    padding-bottom: 40px;
    margin-left: 50px;
}

.band-container {
    padding-top: 10px;
}

.band-pics {
    height: 200px;
    width: 200px;
    display: inline-block;
    margin-left: 50px;
    margin-top: 25px;
}

.band-p,
.band-member {
    text-align: left;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
}

.last-image {
    padding-bottom: 75px;
}

/*---------------------------------------------------- audio-section */

audio {
    margin: 10px auto 60px auto;
    width: 200px;
    display: block;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    position: relative;
    z-index: 1;
}

.last-audio {
    padding-bottom: 100px;
}

.album-image {
    height: 200px;
    width: 200px;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.album-name {
    font-size: 20px;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
}

.music-header {
    font-size: 40px;
    padding-top: 100px;
}

/*----------------------------------------------------  book form */

.form-container {
    text-align: left;
    font-weight: 700;
}

.form-text {
    text-align: left;
    width: 90%;
    font-size: 20px;
}

.form-control:focus {
    border-color: #84B59F;
    outline: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*code snippet below taken from : https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/ 
Author : Geoff Graham (to remove autofill colour)*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}

/*------------------------------------------------------*/

.container-fluid.form-container {
    margin-top: 100px;
    padding-left: 100px;
    display: inline-block;
}

.contact-heading{
    text-align:left;
}

.form-control {
    display: block;
    width: 50%;
    height: 34px;
    padding: 6px 12px;
    font-size: 20px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:active {
    background-color: #fff;
    border: none;
}

.form-button {
    width: 100px;
    font-size: 18px;
    letter-spacing: 2.5px;
    margin-top: 20px;
    color: #fff;
    background-color: #ba2e33;
    border-color: transparent;
}

.form-button:hover, .form-button:active:focus {
    background-color: #BA2E33;
    border-color: transparent;
    font-weight: 700;
    color:#fff;
    outline:0px;
}

.form-group {
    margin: 0;
    padding-left: 15px;
}

label {
    display: inline-block;
    max-width: 50%;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
}

/*---------------Code snippet taken from Stack Overflow to hide spinner in number field in contact form
https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box
author: username "Swerhen" originally posted 21/03/14-----*/

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


/*---------------------------------------------------- calendar */

.center {
    margin-left: auto;
    margin-right: auto;
}

.container.calendar {
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 36px;
}

table,
td {
    border: 1px solid #011627;
    text-align: center;
    padding: 15px 15px 15px 15px;
    background-color: #fff;
    font-size: 15px;
}

th {
    height:40px;
    background-color: #84B59F;
    text-align: center;
    font-family: "Luckiest Guy", sans-serif;
    font-size:20px;
}

.background-fill {
    background-color: rgba(186, 46, 51, 0.4);
}

/*---------------------------------------------------- footer */

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #84B59F;
    z-index: 2;
}

.sign-up-link {
    line-height: 50px;
    color: #fff;
    font-family: "Luckiest Guy", sans-serif;
    letter-spacing: 2px;
}

.sign-up-link:hover {
    text-decoration: underline;
    color: #fff;
}

a:focus,
a:hover {
    color: #fff;
    text-decoration: none;
}

.social-links {
    line-height: 40px;
    text-align: center;
}

#follow {
    color: #fff;
    font-family: "Luckiest Guy", sans-serif;
    font-size: 20px;
    line-height: 50px;
}

.fa {
    color: #BA2E33;
    background-color: #ffffff;
    text-align: center;
    margin: 0px;
    width: 32px;
    height: 32px;
    padding: 9px 6px 0px 6px;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.fa:hover {
    background-color: #E2DEE9;
}

/*Media queries------------------------------------------*/

@media (max-width:767px) {
    .navbar{
        padding-left:0px;
    }
    .form-control {
        width: 80%;
    }
    .form-text {
        width: 80%;
    }
    .container-fluid.form-container {
        margin-top: 50px;
        margin-left: 15px;
        padding-left: 25px;
        display: block;
        width: 90%;
    }
    .about-header{
        text-align:left;
    }
    .band-pics, .about-text  {
        margin-left: 25px;
    }
    .band-p, .band-member {
        padding-left: 25px;
    }
    .album-name {
        -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
        transform: translateY(50px);
    }
    .album-image {
        -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
        transform: translateY(50px);
    }
    audio {
        -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
        transform: translateY(50px);
    }
    .music-header {
        padding-top: 60px;
    }
    .social-links {
        transform: translateY(-5px);
    }
}

@media (min-width: 768px) {
    .navbar {
        padding-left: 0;
    }
    .social-links {
        transform: translateY(-10px);
        text-align: center;
    }
}

@media (min-width:992px) {
    .nav.navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
        width: 75%;
    }
    .social-links {
        transform: translateY(0px);
        text-align: right;
    }
}

@media (min-width:2000px) {
    h4, h5, .navbar, .modal-link, .about-text, .band-p, .band-member, .album-name, .form-text, .form-control, .form-button, label, th, #follow{
        font-size:1vw;
    }
    .modal-title, .container.calendar, .music-header{
        font-size: 1.5vw;
    }
    #latest, h1{
        font-size:5vw;
    }
    .btn-default, table, td{
        font-size: 0.7vw;
    }
    h2, .contact-heading{
        font-size:3vw;
    }
    h3{
        font-size:2vw;
    }
   
}


